<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Siri学生管理系统</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/css/forms.css' %}">
</head>
<body class="student_edit">
<!--Container-->
<div id="container">
    <!--Header-->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">Siri学生管理系统</h1>
        </div>
    </div>
    <!--END Header-->
    <!--Content-->
    <div id="content">
        <h1>
            编辑课程信息
        </h1>
        <div id="content-main">
            <form action="{% url 'mainsite:course_edit_action' %}" method="post">
                {% csrf_token %}
                <div>
                    <fieldset class="module aligned">
                        <div class="form-row">
                            <div>
                                <label class="required" for="no">
                                    课程号:
                                </label>
                                <input type="text" name="no" value="{{ course.c_no | default:'' }}" class="vTextField"
                                       required id="no"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div>
                                <label class="required" for="name">
                                    课程名称:
                                </label>
                                <input type="text" name="name" value="{{ course.c_name | default:'' }}"
                                       class="vTextField"
                                       required id="name"/>
                            </div>
                        </div>
                    </fieldset>
                    <div class="submit-row">
                        <input type="submit" value="保存" class="default">
                        <p class="deletelink-box">
                            <a href="{% url 'mainsite:course' 'c_no' %}" class="deletelink">
                                返回
                            </a>
                        </p>

                        <input type="reset" value="重置">
                    </div>
                </div>
            </form>
        </div>


    </div>
    <!--END Content-->
    <!--Footer-->
    <div id="footer"></div>
    <!--END Footer-->
</div>
<!--End Container-->

</body>
</html>

