<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Siri学生管理系统</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainsite/css/button.css' %}">
</head>
<body class="student">
<!--Container-->
<div id="container">
    <!--Header-->
    <div id="header">
        <div id="branding">
            <h1 id="site-name">Siri学生管理系统</h1>
        </div>
    </div>
    <!--END Header-->
    <!--Content-->
    <div id="content">
        <h1>
            学生数据表
        </h1>

        <div id="content-main">
            <table id="result">
                <tr>
                    <th><a href="{% url 'mainsite:student' 's_no' %}">
                        学号
                    </a></th>
                    <th><a href="{% url 'mainsite:student' 's_name' %}">
                        姓名
                    </a></th>
                    <th><a href="{% url 'mainsite:student' 's_sex' %}">
                        性别
                    </a></th>
                    <th><a href="{% url 'mainsite:student' 's_age' %}">
                        年龄
                    </a></th>
                    <th><a href="{% url 'mainsite:student' 's_class' %}">
                        班级
                    </a></th>
                    <th></th>
                    <th></th>
                    <th>
                        <ul class="object-tools">
                            <li>
                                <a href="{% url 'mainsite:student_edit' 0 %}" class="addlink">
                                    添加学生
                                </a>
                            </li>
                        </ul>
                    </th>

                </tr>
                {% for student in students %}
                    <tr>
                        <th scope="row">{{ student.s_no }}</th>
                        <td>{{ student.s_name }}</td>
                        <td>{{ student.s_sex }}</td>
                        <td>{{ student.s_age }}</td>
                        <td>{{ student.s_class }}</td>
                        <td>
                            <a href="{% url 'mainsite:score_student' student.s_no 'mainsite_course.c_no' %}"
                               class="viewlink">
                                查看成绩
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'mainsite:student_edit' student.s_no %}" class="changelink">
                                修改
                            </a></td>
                        <td>
                            <a href="{% url 'mainsite:student_delete' student.s_no %}" class="deletelink">
                                删除
                            </a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <br class="clear">
        <p class="backlink-box">
            <a href="{% url 'mainsite:mainpage' %}" class="backlink">
                返回
            </a>
        </p>
    </div>
    <!--END Content-->
    <!--Footer-->
    <div id="footer"></div>
    <!--END Footer-->
</div>
<!--End Container-->

</body>
</html>